In [225]:
import pandas as pd

In [43]:
data = pd.read_csv('magalu_data_chinese_phones.csv', sep=';', encoding='latin1')

In [45]:
data['price'] = data['price'].str.replace('.', '')

In [46]:
data['de_price'] = data['price'].str.replace('de R', '')

In [47]:
data['de_price'] = data['de_price'].str.replace('$', '')

In [48]:
data['de_price'] = data['de_price'].str.replace(r'por.+', '')

In [49]:
data['por_price'] = data['price'].str.replace(r'.+por', '')

In [50]:
data['por_price'] = data['por_price'].str.replace(r'ÌÊ.+', '')

In [51]:
data['por_price'] = data['por_price'].str.replace(r'em.+', '')

In [52]:
data['por_price'] = data['por_price'].str.replace('R', '')

In [53]:
data['por_price'] = data['por_price'].str.replace('$', '')

In [54]:
data['a_vista'] = data['price'].str.contains('vista')

In [55]:
data['desconto_a_vista'] = data['price'].str.replace(r'.+\(', '')

In [56]:
data['desconto_a_vista'] = data['desconto_a_vista'].str.replace(r'\).+', '')

In [57]:
data['desconto_a_vista'][data['a_vista'] == False] = ''

/Users/nicolasmelo1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [58]:
data['num_parcelas'] = data['price'].str.replace(r'.+ em','')

In [59]:
data['num_parcelas'] = data['num_parcelas'].str.replace(r'de.+','')

In [60]:
data['valor_parcela'] = data['price'].str.replace(r'.+de','')

In [61]:
data['valor_parcela'] = data['valor_parcela'].str.replace('R', '')

In [62]:
data['valor_parcela'] = data['valor_parcela'].str.replace('$', '')

In [63]:
data['valor_parcela'] = data['valor_parcela'].str.replace('sem juros', '')

In [64]:
data['format_title'] = data['title'].str.replace('Smartphone', '')

In [65]:
data['format_title'] = data['format_title'].str.replace('Desbloqueado', '')

In [66]:
data['manufacturer'] = data['format_title'].apply(lambda x: 'Apple' if 'Apple' in x else x.split()[0])

In [67]:
data['format_title'] = data.apply(lambda row: row['format_title'].replace(row['manufacturer'], ''), axis=1)

In [68]:
data['espaco_armazenamento'] = data['format_title'].str.extract(pat='(\d+GB)')

In [69]:
data['format_title'] = data['format_title'].str.replace('íë¢', 'â')

In [70]:
data['format_title'] = data['format_title'].str.replace('\x8c\x8aí_\x8c\x9d', '\"')

In [71]:
data['format_title'] = data['format_title'].str.replace('  ', '')

In [72]:
data['format_title'] = data['format_title'].str.replace('íëíñ', 'Ô')

In [73]:
data['format_title'] = data['format_title'].str.replace('íë\x8c\x8d', 'Î')

In [74]:
data['format_title'] = data['format_title'].str.replace('- Magazine Luiza', '')

In [75]:
data['format_title'] = data['format_title'].str.replace('-- Magazine Luiza', '')

In [76]:
data.to_csv('formated_magalu_chinese_phones_data.csv', sep=';', encoding='latin1', index=False)

,price,title
0,"de R$ 1.499,00 por R$ 1.299,00 em 10x ...",Smartphone redmi mi a2 4ram 32gb lte dual glob...
1,"de R$ 1.499,90 por R$ 1.249,90 em 10x ...",Celular SmartPhone Redmi Note 6 Pro 64gb Origi...
2,"de R$ 1.499,90 por R$ 1.199,90 em 10x ...",Smartphone xiaomi redmi mi a2 32gb dual 4g lte...
3,"de R$ 899,90 por R$ 799,90 em 10x de R...",Smartphone xiaomi redmi 6a 32gb dual 4g lte pr...
4,"de R$ 899,90 por R$ 799,90 em 10x de R...",Smartphone xiaomi redmi 6a 32gb dual 4g lte do...
5,"de R$ 899,90 por R$ 699,90 em 10x de R...",Smartphone xiaomi redmi 6a 16gb dual 4g lte do...
6,"de R$ 899,90 por R$ 699,90 em 10x de R...",Smartphone xiaomi redmi 6a 16gb dual 4g lte pr...
7,"por R$ 749,00 em 10x de R$ 74,90 sem j...","Smartphone Xiaomi Redmi 6 preto, Tela 5,45Û,..."
8,"de R$ 1.299,90 por R$ 1.049,90 em 10x ...",Smartphone redmi 7 64gb snapdragon 632 2gb 12m...
9,"de R$ 1.499,90 por R$ 1.399,90 em 10x ...",Smartphone celular redmi mi 8 lite 64gb dual 4...
10,"de R$ 1.699,90 por R$ 1.499,90 em 10x ...",Smartphone celular redmi mi 8 light 64gb dual ...
11,"por R$ 1.049,00 em 10x de R$ 104,90 se...",Smartphone redmi mi play 4ram 64gb tela 5.84Û...
12,"de R$ 1.299,00 por R$ 1.199,00 em 10x ...",Smartphone redmi mi a2 lite 4ram 64gb tela 5.8...
13,"de R$ 1.699,00 por R$ 1.099,00 em 10x ...",Smartphone redmi mi a2 4ram 64gb lte dual glob...
14,"de R$ 2.399,00 por R$ 2.299,00 em 10x ...",Smartphone redmi pocophone f1 6ram 128gb lte d...
15,"por R$ 2.599,90 em 10x de R$ 259,99 se...",Smartphone redmi pocophone f1 128gb dual 4g lt...
16,"por R$ 2.199,90 em 10x de R$ 219,99 se...",Smartphone celular redmi pocophone f1 64gb dua...
17,"por R$ 2.599,00 em 10x de R$ 259,90 se...",Smartphone celular redmi pocophone f1 128gb du...
18,"por R$ 3.699,90 em 10x de R$ 369,99 se...",Smartphone celular redmi mi 8 pro 128gb transp...
19,"de R$ 1.899,90 por R$ 1.499,90 em 10x ...",Smartphone redmi mi max 3 64gb dual 4g lte pre...

In [428]:
data = pd.read_csv('formated_americanas_data_1.csv', sep=';', encoding='latin1')

In [429]:
data['price'] = data['price'].str.replace('.','')

In [430]:
data['price_parcela'] = data['price_parcela'].str.replace('.','')

In [431]:
data['a_vista_price'] = data['price'].str.extract(pat='(\d+,\d+)')

In [432]:
data['a_vista_price'] = data['a_vista_price'].apply(lambda x: x.split(',')[0] + ',' + x.split(',')[1][:2] if len(x.split(',')[1]) > 2 else x)

In [433]:
data['desconto_a_vista'] = data['price'].str.contains('de desconto')

In [434]:
data['porcentagem_desconto_a_vista'] = data['price'].str.extract(pat='(\d+% de desconto)')

In [435]:
data['porcentagem_desconto_a_vista'] = data['porcentagem_desconto_a_vista'].str.replace('% de desconto', '')

In [436]:
data['porcentagem_desconto_a_vista'] = data['porcentagem_desconto_a_vista'].fillna(0)

In [437]:
data['qtd_de_parcelas'] = data['price'].str.extract(pat='(\d\dx)')

In [438]:
data['qtd_de_parcelas'] = data['qtd_de_parcelas'].fillna(0)

In [439]:
data['valor_parcelas'] = data['price'].str.extract(pat='(\d+x.*)')

In [440]:
data['valor_parcelas'] = data['valor_parcelas'].str.extract(pat='(\d+,\d+)')

In [441]:
data['valor_parcelas'] = data['valor_parcelas'].fillna(0)

In [442]:
data['a_vista_ame'] = data['price_parcela'].str.extract(pat='(.*com Ame)')

In [443]:
data['a_vista_ame'] = data['a_vista_ame'].str.extract(pat='(\d+,\d+)')

In [444]:
data['qtd_de_parcelas_ame'] = data['price_parcela'].str.extract(pat='(.*com Ame)')

In [445]:
data['qtd_de_parcelas_ame'] = data['qtd_de_parcelas_ame'].str.extract(pat='(\d\dx)')

In [446]:
data['valor_parcelas_ame'] = data['price_parcela'].str.extract(pat='(.*com Ame)')

In [447]:
data['valor_parcelas_ame'] = data['valor_parcelas_ame'].str.extract(pat='(x.*)')

In [448]:
data['valor_parcelas_ame'] = data['valor_parcelas_ame'].str.extract(pat='(\d+,\d+)')

In [449]:
data['receber_de_volta_ame'] = data['price_parcela'].str.extract(pat='(.*de volta)')

In [450]:
data['receber_de_volta_ame'] = data['receber_de_volta_ame'].str.extract(pat='(com Ame.*)')

In [451]:
data['receber_de_volta_ame'] = data['receber_de_volta_ame'].str.extract(pat='(\d+,\d+)')

In [470]:
data['em_1x_no_cartao_de_credito'] = data['price_parcela'].str.extract(pat='(de volta.*)')

In [471]:
data['em_1x_no_cartao_de_credito'] = data['em_1x_no_cartao_de_credito'].str.extract(pat=r'(.*cartÍ£o de crÍ©dito)')

In [472]:
data['em_1x_no_cartao_de_credito'] = data['em_1x_no_cartao_de_credito'].str.extract(pat='(\d+,\d+)')

In [473]:
data['em_1x_no_cartao_de_credito'] = data['em_1x_no_cartao_de_credito'].fillna(0)

In [474]:
data['no_boleto'] = data['price_parcela'].str.extract(pat='(de volta.*)')

In [475]:
data['no_boleto'] = data['no_boleto'].str.extract(pat='(.*no boleto)')

In [476]:
data['no_boleto'] = data['no_boleto'].str.extract(pat='(\d+,\d+)')

In [477]:
data['no_boleto'] = data['no_boleto'].fillna(0)

In [489]:
data['numero_parcelas_em_1x_no_cartao_ou_cartao_americanas'] = data['price_parcela'].str.extract(pat=r'(no cartÍ£o Americanas.*)')

In [490]:
data['numero_parcelas_em_1x_no_cartao_ou_cartao_americanas'] = data['numero_parcelas_em_1x_no_cartao_ou_cartao_americanas'].str.extract(pat='(\d+x)')

In [491]:
data['valor_parcelas_em_1x_no_cartao_ou_cartao_americanas'] = data['price_parcela'].str.extract(pat='(no cartÍ£o.*)')

In [492]:
data['valor_parcelas_em_1x_no_cartao_ou_cartao_americanas'] = data['valor_parcelas_em_1x_no_cartao_ou_cartao_americanas'] = data['valor_parcelas_em_1x_no_cartao_ou_cartao_americanas'].str.extract(pat='(x de.*)')

In [493]:
data['valor_parcelas_em_1x_no_cartao_ou_cartao_americanas'] = data['valor_parcelas_em_1x_no_cartao_ou_cartao_americanas'] = data['valor_parcelas_em_1x_no_cartao_ou_cartao_americanas'].str.extract(pat='(\d+,\d+)')

In [494]:
data.to_csv('formated_americanas_data_1.csv', sep=';', encoding='latin1', index=False)

In [487]:
data['price_parcela'][0]

'R$ 2098,99 em atÍ© 12x de R$ 174,91 s/ juros com Ame e receba R$ 104,95 (5% de volta) R$ 1889,09 em 1x no cartÍ£o de crÍ©dito (10% de desconto)R$ 1889,09 no cartÍ£o Americanascom em atÍ© 12x de R$ 157,42 s/ juros (10% de desconto)formas de parcelamento'